.logo{
    background-image: url("logo.jpg");
    text-align: center;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;

}
.my-navigation-container img.logo {
    height: 48px;  
    border-radius: 8px; 
}

.my-navigation-container nav {
    display: flex;
    background: #dbd7d7;
    width: 890px;
    margin: 0 auto;
    position: fixed;
    bottom:400px;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
}
.my-navigation-container nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 70%;
}

.my-navigation-container nav ul li {
    width: 100%;
}

.my-navigation-container nav a {
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-weight: bold;
    transition: all 400ms;
}

.my-navigation-container nav a:hover {
    color: #5e0303;
}

@media (max-width: 900px) {
    .my-navigation-container nav {
        width: 90%;
    }
}
body {
    background-image: url('base.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.my header {
    text-align: center;

}

